@page
@model RCL.WebApps.Live.Pages.Account.PasswordModel
@{
    ViewData["Title"] = "Password";
}

<div class="card shadow rounded mt-2 mb-5">
    <div class="card-header"><h5>Do you want to reset your password?</h5></div>
    <div class="card-body">
        <div class="alert alert-info">
            <a class="btn btn-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="ResetPassword"> Reset Password</a>
        </div>
    </div>
</div>
